@font-face {
    font-family: "Norse";
    src: url('Norse-KaWl.otf');}

@font-face {
    font-family: "Norse2";
    src: url('norse2.woff');}

body, html {height:100%;
   border: 0;
   padding: 0;
   margin: 0;
   font-size: 100%
}

h1, h2 {
    font-family: "Norse";
}

#splash{
    background-size: cover;
    height:100%;
    width: 100%;
   /* opacity: 0.83 */
   opacity: 0.7;  /* Opacity for Modern Browsers */
    filter: alpha(opacity=70);  /* Opacity for IE8 and lower */
    zoom: 1;  /* Fix for IE7 */
}

/*  off white: (252, 245, 237)
    dark gray: (73, 73, 73) */

.gold{
    font-weight: bold;
    position: absolute;
    margin:0px;   
    text-shadow:0px 0px 12px rgb(31, 16, 0);
}
@media only screen and (max-width: 600px) {
    #odin{
        font-size: 35px;
    }
    .gold a{
        font-size: 16px;
    }
}
@media only screen and (min-width: 600px){
    #odin{
        font-size: 3.6vw;
    }
    .gold a{
        font-size: 1.8vw;
    }
}

#odin{
    color:rgb(236, 215, 160);
    left:3%;
    top:3%;
}

.gold a{
    color:rgb(236, 215, 160);
    display: inline-block;               
    text-decoration: none;
    font-family: "Norse2";
}

.gold a:hover{
    color:rgb(143, 130, 95);
    text-shadow: -1px 1px 0 antiquewhite,
				  1px 1px 0 antiquewhite,
				  1px -1px 0 antiquewhite,
                  -1px -1px 0 antiquewhite;
}

#vegetables{
    left: 52%;
    top: 15%;}

#mead{
    left: 26.5%;
    top: 42%;}

#desserts{
    left:69%;
    top:61%;
    } 

#main{
    left: 11%;
    top: 70%;
}

.content-wrapper {
    color: rgb(73, 73, 73);
    background-color: rgba(252, 245, 237, 0.94);
    
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
    min-height: 800px;

    padding-top:38px;
    padding-bottom: 38px;
    padding-left: 62px;
    padding-right: 62px;}

.footer{padding-top:62px;
    text-align: center;}

img.recipe{width:100%;
    height:auto;}

a{color:rgb(73, 73, 73);}

a:hover {text-shadow:0px 0px 1px rgb(73, 73, 73);}

a:active{color:firebrick;}