@font-face {
    font-family: "Norse";
    src: url('Norse-KaWl.otf');}

@font-face {
    font-family: "Norse2";
    src: url('norse2.woff');}

body, html {height:100%;
   border: 0;
   padding: 0;
   margin: 0;
   font-size: 100%;
   width: 100%;
   height: 100%;
}

h1, h2 {
    font-family: "Norse";
}

.hero {
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.hero::before {
    background-image: url(images/viking.png);
    background-size: 100vw 100vh;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
}

/*  off white: (252, 245, 237)
    dark gray: (73, 73, 73) */

.gold{
    font-weight: bold;
    margin:0px;   
    text-shadow:0px 0px 12px rgb(31, 16, 0);
}

@media only screen and (max-width: 600px) {
    .hero{
        justify-content: center;
    }

    .box {
        background-color: rgba(31, 16, 0, 0.6);
        padding: 72px;
        border-radius: 8px;
    }
    .gold a, #odin{
        text-shadow: 
        -1px 1px 0 rgb(31, 16, 0),
        1px 1px 0 rgb(31, 16, 0),
        1px -1px 0 rgb(31, 16, 0),
        -1px -1px 0 rgb(31, 16, 0);
    }
    #odin{
        position: absolute;
        font-size: 35px;
    }
    .gold a{
        font-size: 16px;
        padding: 16px;
    }
    .hero {
        justify-content: center;
        align-items: center;
    }
}
@media only screen and (min-width: 600px){
    #odin{
        font-size: 3.6vw;
    }
    .gold{
        position: absolute;
    }
    .gold a{
        font-size: 1.8vw;
    }
    #vegetables{
        top: 15%;
        left: 52%;
    }
    #mead{
        top: 42%;
        left: 26.5%;
    }
    #desserts{
        top:61%;
        left:69%;
    }
    #main{
        top: 70%;
        left: 11%;
    }
}

#odin{
    color:rgb(255, 227, 148);
    left:3%;
    top:3%;
}

.gold a{
    color:rgb(255, 227, 148); 
    display: inline-block;               
    text-decoration: none;
    font-family: "Norse2";
}

.gold a:hover{
    color:rgb(143, 130, 95);
    text-shadow: -1px 1px 0 antiquewhite,
				  1px 1px 0 antiquewhite,
				  1px -1px 0 antiquewhite,
                  -1px -1px 0 antiquewhite;
}

.content-wrapper {
    color: rgb(73, 73, 73);
    background-color: rgba(252, 245, 237, 0.94);
    
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
    min-height: 800px;

    padding-top:38px;
    padding-bottom: 38px;
    padding-left: 62px;
    padding-right: 62px;}

.footer{padding-top:62px;
    text-align: center;}

img.recipe{width:100%;
    height:auto;}

a{color:rgb(73, 73, 73);}

a:hover {text-shadow:0px 0px 1px rgb(73, 73, 73);}

a:active{color:firebrick;}